<div class="mx-auto p-3 md:w-1/2 sm:w-full h-1/2">
    <section class="bg-white dark:bg-slate-900">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Formulario de Contacto</h2>

            <form [formGroup]="formContact" (submit)="send()" autocomplete="off" class="space-y-8">
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre : </label>
                    <input formControlName="name" inputValidate [error]="comprobarCampo('name')" type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Tu Nombre" required>
                    <div>
                        <p *ngIf="formContact.get('name')?.errors?.['required']&& formContact.get('name')?.touched" class="text-center block mb-1 ml-1 text-red-600">El Campo Nombre es Obligatorio</p>
                        <p *ngIf="formContact.get('name')?.errors?.['minlength']&& formContact.get('name')?.touched" class="text-center block mb-1 ml-1 text-red-600">Debe Tener como mínimo {{formContact.get('name')?.errors?.['minlength']?.requiredLength}} caracteres</p>
                        <p *ngIf="formContact.get('name')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                    </div>
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email : </label>
                    <input formControlName="email" inputValidate [error]="comprobarCampo('email')" type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@dominio.com" required>
                    <div>
                        <p *ngIf="formContact.get('email')?.touched && formContact.get('email')?.errors?.['required']" class="text-center block mb-1 ml-1 text-red-600">El Email es Obligatorio</p>
                        <p *ngIf="formContact.get('email')?.touched && formContact.get('email')?.errors?.['pattern']" class="text-center block mb-1 ml-1 text-red-600">Formato de Email es Incorrecto email@dominio.com</p>
                        <p *ngIf="formContact.get('email')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                    </div>
                </div>
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Telefono : </label>
                    <input isNumber inputValidate [error]="comprobarCampo('phone')" formControlName="phone" type="number" id="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="987654321" maxlength="9" required>
                    <div>
                        <p *ngIf="formContact.get('phone')?.touched && formContact.get('phone')?.errors?.['required']" class="text-center block mb-1 ml-1 text-red-600">El Telefono es Obligatorio</p>
                        <p *ngIf="formContact.get('phone')?.touched && formContact.get('phone')?.errors?.['pattern']" class="text-center block mb-1 ml-1 text-red-600">El Telefono debe tener 9 dígitos</p>
                        <p *ngIf="formContact.get('phone')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                    </div>
                </div>
                <div>
                    <label for="asunto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asunto :</label>
                    <input inputValidate [error]="comprobarCampo('asunto')" formControlName="asunto" type="text" id="asunto" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Tu Asunto" required>
                    <div>
                        <p *ngIf="formContact.get('asunto')?.errors?.['required']&& formContact.get('asunto')?.touched" class="text-center block mb-1 ml-1 text-red-600">El Campo Asunto es Obligatorio</p>
                        <p *ngIf="formContact.get('asunto')?.errors?.['minlength']&& formContact.get('asunto')?.touched" class="text-center block mb-1 ml-1 text-red-600">Debe Tener como mínimo {{formContact.get('asunto')?.errors?.['minlength']?.requiredLength}} caracteres</p>
                        <p *ngIf="formContact.get('asunto')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Mensaje :</label>
                    <textarea formControlName="message" inputValidate [error]="comprobarCampo('message')" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Tu Mensaje"></textarea>
                    <div>
                        <p *ngIf="formContact.get('message')?.errors?.['required']&& formContact.get('message')?.touched" class="text-center block mb-1 ml-1 text-red-600">El Campo Mensaje es Obligatorio</p>
                        <p *ngIf="formContact.get('message')?.errors?.['minlength']&& formContact.get('message')?.touched" class="text-center block mb-1 ml-1 text-red-600">Debe Tener como mínimo {{formContact.get('message')?.errors?.['minlength']?.requiredLength}} caracteres</p>
                        <p *ngIf="formContact.get('message')?.valid" class="text-center block mb-1 ml-1 text-green-500">Todo Correcto</p>
                    </div>
                </div>
                <button [disabled]="formContact.invalid" type="submit" class="w-full px-4 py-2 font-bold rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 bg-violet-400 focus:ring-violet-400 hover:ring-violet-400 text-gray-900">Confirmar</button>
                <div *ngIf="formContact.valid && correcto">
                    <p class="text-center block mb-1 ml-1 text-green-500">Mensaje Enviado Correctamente</p>
                </div>
            </form>
        </div>
    </section>
</div>

